.pageHeader {
  display: flex;
 padding: 1.25rem 1.25rem !important;
  justify-content: center;
  flex-direction: column;

  .aligning {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .pageTitle {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 500 !important;
        font-size: 1.125rem !important;
  }

  .iconButton {
    display: flex;
    width: 36px;
    color: white !important;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    padding: auto;
    background-color: var(--primary-color);
    box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
  }

  .breadcrumbItem {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 300 !important;

    .icon {
      margin-left: 4px;
      color: var(--primary-color);
    }
  }


  .card {
    position: relative;
    overflow: hidden;
    color: white;
    margin-bottom: 2rem;
    &.bgGradientDanger {
      background: var(--danger-gradient);
    }

    &.bgGradientInfo {
      background: var(--info-gradient);
    }

    &.bgGradientSuccess {
      background: var(--success-gradient);
    }

    .cardBody {
      padding: 2.5rem 2.5rem;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      min-height: 1px;
    }

    .cardImgAbsolute {
      position: absolute;
      top: 0;
      right: 0;
      height: 100% !important;
      vertical-align: middle;
      border-style: none;
    }
  }

  .fontWeightNormal {
    font-weight: normal;
    font-size: 1.13rem;
    margin-bottom: 1rem ;
    .floatRight {
      float: right;
    }
  }

  .mb5 {
    margin-bottom: 3rem;
    font-size: 1.88rem !important;
  }

  .cardText {
    font-size: 0.875rem;
  }

  .chart {
    margin-bottom: 1rem;
    max-height: fit-content;
  }

  .todoForm {
    display: flex;
    align-items: center;
    padding: 20px;
    // margin-bottom: 10px;
  }

  .todoInput {
    margin-right: 10px;
    width: 350px;
    margin-right: 20px;

    :focus {
      color: #000;
      background-color: #ffffff;
      outline: none;
      border-color: #80bdff;
    }
  }

  .todoButton {
    height: 40px;
    background: linear-gradient(to right, #da8cff, #9a55ff);

    padding-inline: 40px;
    padding-block: px;
  }
  .completedTask {
    text-decoration: line-through; /* Add a strikethrough effect */
    text-decoration-color: blue;
  }

  .completedRemoveIcon {
    color: #b66dff;
  }

  .todoItem {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
  }
  .checkbox {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    color: var(--primary-color) !important;
    margin-right: 20px;
  }

  .customLinearProgress {
    height: 8px;
    width: 150px;
    background-color: #e9ecef; // Background color
    border-radius: 5px;

    .badgeGradientSuccess {
      background: linear-gradient(
        to right,
        #84d9d2,
        #07cdae
      ); /* Adjusted background syntax */
      color: white;
    }

    .badgeGradientWarning {
      background: linear-gradient(to right, #f6e384, #ffd500);
      color: black;
    }

    .badgeGradientInfo {
      background: linear-gradient(to right, #90caf9, #047edf 99%);
      color: white;
    }

    .badgeGradientDanger {
      background: linear-gradient(to right, #ffbf96, #fe7096);
      color: white;
    }

    .badgeGradientPrimary {
      background: linear-gradient(to right, #da8cff, #9a55ff);
      color: white;
    }
  }
}
.table {
  min-width: 650px; // Adjust as per your layout needs
  margin-top: 20px; // Example margin, adjust as needed

  border-collapse: collapse;

  .tableheading {
    border-top: 0;
    border-bottom-width: 1px;
    // font-weight: initial;

    text-align: center;
    font-weight: bold;
    padding-inline: 0px;
  }

  td {
    padding: 16px; // Added padding for spacing
    padding-inline: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
}
