

.card {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border: 0;
  height: 450px;
  background: var(--white); /* Use variable for background color */
  
  .cardBody {
    padding: 1.25rem;
    height: fit-content;
  }

  .cardTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .clearfix {
    width: 100%;
    display: inline-flex;
   justify-content: space-between;
    align-items: center;
   
  }
  .textAlign{
     display: flex;
     width: 100%;
    align-items: center;
    justify-content: space-between;
    
  }

  .floatLeft {
    float: left;
  }

 
.align {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.listItems {
  margin-right: 1.5rem;
    color: var(--text-muted);
  font-size: 0.9rem;
  display: flex; /* Flex display to align items horizontally */
  align-items: center; /* Center items vertically */
  gap: 0.5rem; /* Space between dot and text */
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%; /* Make it a circle */
  display: inline-block;
}

/* Apply gradient color to the dots */
.listItems:nth-child(1) .dot {
 
  background: linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1));
}

.listItems:nth-child(2) .dot{
      background: linear-gradient(to right, rgb(255, 140, 140), rgb(255, 85, 85));
}

.listItems:nth-child(3) .dot {
 background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}

/* Add more nth-child styles for additional list items as needed */



}
