@mixin img-styles {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-right: 10px;
}

.Profile {
  margin-right: 10px;
  .profileImage{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
  }
  .ProfileName {
    margin-left: 10px;
    margin-right: 4px;
    font-size: 18px !important;
    color: black !important;
    margin-bottom: 8px;
    font-weight: 300 !important;
  }
}
.Menu {
  margin-top: 45px;
  left: 10px
}
.headingText {
  font-weight: 500 !important;
  font-size: 0.9375rem !important;
  margin-bottom: 0 !important;
  padding: 1rem !important;
}
.MenuItem {
  margin-bottom: 0;
  padding: 11px 13px;
  cursor: pointer;
  -webkit-box-align: center !important;
  display: flex !important;
  font-size: 1rem !important;
  align-items: center !important;
  color: #343a40;
  :hover {
    .primaryText {
      color: white !important;
    }
    .profileMenuText {
      color: white !important;
    }
  }
  .profileMenuText{
    font-size: 1rem !important;
    color: #343a40 !important;
  }
  .textAlignment {
    line-height: 1;
    padding-left: 15px;
    flex-direction: column !important;
    display: flex !important;
  }
    .primaryText {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400 !important;
      margin-bottom: 0.25rem !important;
      font-size: 0.9375rem;
    }
    .secondaryText {
      color: #8c8c8c;
      margin-bottom: 0 !important;
      font-size: 0.9375rem;
      line-height: 1.5;
      max-width: 200px !important;
      text-overflow: ellipsis;
      overflow: hidden
    }
  

  .img {
    @include img-styles;
  }

  .iconCalendar {
    @include img-styles;
    background-color: var(--success-color);
    color: white;
    padding: 0.4rem;
  }

  .iconSetting {
    @include img-styles;
    background-color: var(--warning-color);
    color: white;
    padding: 0.4rem;
  }

  .iconLink {
    @include img-styles;
    background-color: var(--info-color);
    color: white;
    padding: 0.4rem;
  }
}
.menuFooter{
    text-align: center;
    margin-bottom: 0 !important;
    padding: .8rem !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
}