// Assuming you have styles defined in a SCSS module (styles.module.scss)

@mixin img-styles {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-right: 10px;
}

.navbar {
  padding: 0.325rem;
  box-shadow: none !important;
  height: 80px !important;
  padding-block: 0 !important;

  .toolbar {
    height: 100% !important;
    display: flex;
    justify-content: center;

    &.toolbarOpen {
      width: 260px !important;
    }

    &.toolbarClose {
      width: 70px !important;
    }

    .navbarBrand {
      padding: 0rem 0;
      width: 150px;
      height: 30px;
    }

    .navbarBrandMini {
      padding: 0rem 0;
      width: 25px;
      height: 30px;
    }
  }

  .navbarArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 0 !important;
    align-items: center;
    justify-content: space-between;

    &.openWidth {
      width: calc(100vw - 330px);
      position: absolute;
      left: 280px !important;
    }

    &.closedWidth {
      width: calc(100vw - 140px);
      position: absolute;
      left: 80px !important;
    }

    .menuIcon {
      padding-left: 5px;
      padding-right: 10px;
    }
    .SearchBarAlign {
      display: flex;
      justify-content: center;
    }
    .form {
      height: 100% !important;
      display: flex;
      align-items: center !important;
      margin-left: 15px;

      .inputGroup {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .inputGroupPrepend {
          color: #c9c8c8;
          height: 100%;
          border: none;
          background-color: transparent !important;
        }

        .formControl {
          padding: 0.5rem;
          font-family: "ubuntu-regular", sans-serif;
        }
      }
    }
  }
}
// Drawer css

.sidebarList {
  overflow: hidden;
  margin-bottom: 60px;
  margin-top: 80px !important;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9375rem !important;
  .sidebarListItem {
    
    &.sidebarPadding{
      padding-inline: 2rem !important;
    }
    &.sidebarMargin{
      margin-bottom: 1rem !important;
    }
    cursor: pointer;
    margin-bottom: 10px;
    .navLink {
      margin-top: 0.5rem;
      display: flex;
      text-decoration: none;
      .navProfileImage {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .login-status {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #1bcfb4; /* Example color */
          margin-right: 5px;
        }
      }
      .navProfileText {
        margin-right: 20px;
        .fontWeightBold {
          margin-bottom: 5px;
          color: #3e4b5b !important;

          font-weight: 540;
        }

        .textSecondary {
          color: #c3bdbd !important; /* Example color */
          font-size: 0.8rem;
        }
      }
      .navProfileBadge {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #1bcfb4; /* Example color */
      }
    }
    .menuBar,
    a {
      padding-inline: 0 !important;
      justify-content: space-between;

      .menuIcon {
        margin-right: 0 !important;
        line-height: 1;
        &.closeMenuIcon{
          width: 100%;
        }
      }
    }
  }
  .subMenuBar {
    margin-bottom: 0 !important;
    .subMenuBarListItem {
      margin-bottom: 0 !important;
      padding-inline: 0 !important;
    }
    .subMenuLink {
      position: relative;
      padding: 0.75rem 2rem 0.75rem 2rem !important;
      font-size: 0.8125rem;
      color: #888 !important;
      line-height: 1;
      height: auto;
      border-top: 0;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      white-space: nowrap;
    }
  }
  .menuTitle {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
    &.secondaryColor{
      color: var(--secondary-color);
    }
  }
  .activeItem {
    color: var(--primary-color) !important;
  }

  .SubMenuItem {
    color: #888;
    padding: 0em 2rem 0rem 2rem;
    position: relative;
    font-size: 0.5rem;
    line-height: 1;
    height: auto;
    border-top: 0;
  }
  .ArrowIcon {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a2a2a2;
  }

  .projectButton {
    width: 188px !important;
    color: var(--white) !important;
    background: var(--primary-gradient);
    transition: opacity 0.3s ease;
    // margin-top: 1.5rem !important;
   padding: 0.8rem 3rem !important;
    box-shadow: none !important;
    cursor: pointer;
    &.hover {
      opacity: 0.8 !important;
    }
    .projectText {
      font-weight: 500 !important;
      font-style: bold !important;
      font-size: 0.9375rem !important;
    }
  }
  .lastList {
    position: relative;
    list-style-type: none;
    padding-left: 25px;
    line-height: 1;
    padding-bottom: 25px;
  }

  .lastList::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }

  .lastList::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 2px;
    background: #fff;
    border-radius: 100%;
  }
  .lastList:nth-child(1)::before {
    background-color: var(--danger-color); /* Color for the first item */
  }

  .lastList:nth-child(2)::before {
    background-color: var(--info-color);
  }
}
