// Assuming you have styles defined in a SCSS module (styles.module.scss)

@mixin img-styles {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-right: 10px;
}

.navbar {
  padding: 0.325rem;
  box-shadow: none !important;
  height: 80px !important;
  padding-block: 0 !important;

  .toolbar {
    height: 100% !important;

    .navbarBrand {
      padding: 0rem 0;
      width: 150px;
      height: 30px;
      display: flex;
      justify-content: center;
    }

    .navbarBrandMini {
      padding: 0rem 0;
      width: 25px;
      height: 30px;
    }
  }

  .navbarArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 0 !important;
    align-items: center;
    justify-content: space-between;

    &.openWidth {
      width: calc(100vw - 330px);
      position: absolute;
      left: 280px !important;
    }

    &.closedWidth {
      width: calc(100vw - 140px);
      position: absolute;
      left: 80px !important;
    }

    .menuIcon {
      padding-left: 5px;
      padding-right: 10px;
    }
    .SearchBarAlign {
      display: flex;
      justify-content: center;
    }
    .form {
      height: 100% !important;
      display: flex;
      align-items: center !important;
      margin-left: 15px;

      .inputGroup {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .inputGroupPrepend {
          color: #c9c8c8;
          height: 100%;
          border: none;
          background-color: transparent !important;
        }

        .formControl {
          padding: 0.5rem;
          font-family: "ubuntu-regular", sans-serif;
        }
      }
    }
  }}
// Drawer css
.SidebarList {
  .navLink {
    margin-top: 0.5rem;
    display: flex;
    text-decoration: none;
  }
  .navProfileImage {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .login-status {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1bcfb4; /* Example color */
      margin-right: 5px;
    }
  }
  .navProfileText {
    margin-right: 20px;
    .fontWeightBold {
      margin-bottom: 5px;
      color: #3e4b5b !important;

      font-weight: 540;
    }

    .textSecondary {
      color: #c3bdbd !important; /* Example color */
      font-size: 0.8rem;
    }
  }
  .MenuBar {
    gap: 10px;
  }
  .navProfileBadge {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #1bcfb4; /* Example color */
  }

  .SubMenuItem {
    color: #888;
    padding: 0em 2rem 0rem 2rem;
    position: relative;
    font-size: 0.5rem;
    line-height: 1;
    height: auto;
    border-top: 0;
  }
  .ArrowIcon {
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a2a2a2;
  }

  .activeItem {
    color: var(--primary-color);
  }

  .menuList {
    margin-top: 20px;
  }
  .availabilityStatus {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    bottom: 14px;
    right: 155px;
  }
  .online {
    background: #1bcfb4;
  }
}
