// recentUpdates.module.scss

.card {
    margin-bottom: 20px;
}

.cardContent {
    padding: 10px;
}

.dFlex {
    display: flex;
}

.alignItemsCenter {
    align-items: center;
}

.mr4 {
    margin-right: 1rem;
}

.textMuted {
    color: #6c757d;
}
.ImageCorousel{
    margin-bottom: 2rem;
}

.fontWeightLight {
    font-weight: lighter;
}

.iconSm {
    font-size: 1rem;
    margin-right: 8px;
}

.mb2 {
    margin-bottom: 0.5rem;
    font-size: medium;
    font-weight: bold;
}

.mw100 {
    max-width: 100%;
}

.w100 {
    width: 100%;
}

.mb5 {
    margin-bottom: 1.25rem;
}

.alignItemsStart {
    align-items: start;
}

.imgSm {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.mr3 {
    margin-right: 0.75rem;
}

.mb0 {
    margin-bottom: 0;
}

.flexGrow {
    flex-grow: 1;
}

.mrAuto {
    margin-right: auto;
}

.iconHeartOutline {
    font-size: 1rem;
    color: #6c757d;
}